:root {
    --background-color: rgb(27, 27, 101);
    --text-color: white;
    --nav-background: rgb(9, 9, 49);
    --link-color: white;
    --link-hover-color: rgb(117, 117, 188);
}

.light-mode {
    --background-color: white;
    --text-color: #333;
    --nav-background: #f4f4f4;
    --link-color: #333;
    --link-hover-color: #555;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; /* Smooth scrolling */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: var(--nav-background);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
}

nav ul li a:hover {
    color: var(--link-hover-color);
    font-size: 1.01rem;
}

main hr {
    border: 0;
    background: #4b62b6;
    height: 1.2px;
    margin: 60px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
    align-items: center;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 3rem;
    margin: 30px, 0;
}

.rightsection img {
    width: 80%;
}

.purple {
    color: rgb(155, 81, 223);
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(155, 81, 223);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
}

.secondsection h1 {
    font-size: 1.9rem;
}



/* Toggle Button Style */
#theme-toggle {
    padding: 10px 20px;
    background-color: var(--nav-background);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}

#theme-toggle:hover {
    background-color: var(--link-hover-color);
}

footer {
    background-color: #090931;
    padding: 20px 0;
    text-align: center;
    color: white;
    margin-top: auto;
}

.footer-content h3 {
    margin-bottom: 20px;
    font-size: 40px;
}

.socials {
    list-style: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin: 0 20px; /* Increased margin between buttons */
}

.socials a {
    color: white;
    font-size: 50px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: rgb(155, 118, 211); /* Change this to the color you prefer */
}
